<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.algoritmaogreniyorum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AlgoritmaBahcesi7.AlgoritmaBahcesiButton7_8"></activity>
        <activity android:name=".AlgoritmaBahcesi7.AlgoritmaBahcesiButton7_7" />
        <activity android:name=".AlgoritmaBahcesi7.AlgoritmaBahcesiButton7_6" />
        <activity android:name=".AlgoritmaBahcesi7.AlgoritmaBahcesiButton7_5" />
        <activity android:name=".AlgoritmaBahcesi7.AlgoritmaBahcesiButton7_4" />
        <activity android:name=".AlgoritmaBahcesi7.AlgoritmaBahcesiButton7_3" />
        <activity android:name=".AlgoritmaBahcesi7.AlgoritmaBahcesiButton7_2" />
        <activity android:name=".AlgoritmaBahcesi7.AlgoritmaBahcesiButton7_1" />
        <activity android:name=".AlgoritmaBahcesi6.AlgoritmaBahcesiButton6_4" />
        <activity android:name=".AlgoritmaBahcesi6.AlgoritmaBahcesiButton6_3" />
        <activity android:name=".AlgoritmaBahcesi6.AlgoritmaBahcesiButton6_2" />
        <activity android:name=".AlgoritmaBahcesi6.AlgoritmaBahcesiButton6_1" />
        <activity android:name=".AlgoritmaBahcesi5.AlgoritmaBahcesiButton5_7" />
        <activity android:name=".AlgoritmaBahcesi5.AlgoritmaBahcesiButton5_6" />
        <activity android:name=".AlgoritmaBahcesi5.AlgoritmaBahcesiButton5_5" />
        <activity android:name=".AlgoritmaBahcesi5.AlgoritmaBahcesiButton5_4" />
        <activity android:name=".AlgoritmaBahcesi5.AlgoritmaBahcesiButton5_3" />
        <activity android:name=".AlgoritmaBahcesi5.AlgoritmaBahcesiButton5_2" />
        <activity android:name=".AlgoritmaBahcesi5.AlgoritmaBahcesiButton5_1" />
        <activity android:name=".AlgoritmaBahcesi4.AlgoritmaBahcesiButton4_4" />
        <activity android:name=".AlgoritmaBahcesi4.AlgoritmaBahcesiButton4_3" />
        <activity android:name=".AlgoritmaBahcesi4.AlgoritmaBahcesiButton4_2" />
        <activity android:name=".AlgoritmaBahcesi3.AlgoritmaBahcesiButton3_6" />
        <activity android:name=".AlgoritmaBahcesi3.AlgoritmaBahcesiButton3_5" />
        <activity android:name=".AlgoritmaBahcesi4.AlgoritmaBahcesiButton4_1" />
        <activity android:name=".AlgoritmaBahcesi3.AlgoritmaBahcesiButton3_4" />
        <activity android:name=".AlgoritmaBahcesi3.AlgoritmaBahcesiButton3_3" />
        <activity android:name=".AlgoritmaBahcesi3.AlgoritmaBahcesiButton3_2" />
        <activity android:name=".AlgoritmaBahcesi3.AlgoritmaBahcesiButton3_1" />
        <activity android:name=".AlgoritmaBahcesi2.AlgoritmaBahcesiButton2_7" />
        <activity android:name=".AlgoritmaBahcesi2.AlgoritmaBahcesiButton2_6" />
        <activity android:name=".AlgoritmaBahcesi2.AlgoritmaBahcesiButton2_5" />
        <activity android:name=".AlgoritmaBahcesi2.AlgoritmaBahcesiButton2_4" />
        <activity android:name=".AlgoritmaBahcesi2.AlgoritmaBahcesiButton2_3" />
        <activity android:name=".AlgoritmaBahcesi2.AlgoritmaBahcesiButton2_2" />
        <activity android:name=".AlgoritmaBahcesi2.AlgoritmaBahcesiButton2_1" />
        <activity android:name=".AlgoritmaBahcesi1.AlgoritmaBahcesiButton1_7" />
        <activity android:name=".AlgoritmaBahcesi1.AlgoritmaBahcesiButton1_6" />
        <activity android:name=".AlgoritmaBahcesi1.AlgoritmaBahcesiButton1_5" />
        <activity android:name=".AlgoritmaBahcesi1.AlgoritmaBahcesiButton1_4" />
        <activity android:name=".AlgoritmaBahcesiActivity" />
        <activity android:name=".AlgoritmaBahcesi1.AlgoritmaBahcesiButton1_3" />
        <activity android:name=".AlgoritmaBahcesi1.AlgoritmaBahcesiButton1_2" />
        <activity android:name=".AlgoritmaBahcesi1.AlgoritmaBahcesiButton1_1" />
        <activity android:name=".JavaBahcesi7.JavaBahcesiButton7_3" />
        <activity android:name=".JavaBahcesi7.JavaBahcesiButton7_2" />
        <activity android:name=".JavaBahcesi7.JavaBahcesiButton7_1" />
        <activity android:name=".JavaBahcesi6.JavaBahcesiButton6_3" />
        <activity android:name=".JavaBahcesi6.JavaBahcesiButton6_2" />
        <activity android:name=".JavaBahcesi6.JavaBahcesiButton6_1" />
        <activity android:name=".JavaBahcesi5.JavaBahcesiButton5_3" />
        <activity android:name=".JavaBahcesi5.JavaBahcesiButton5_2" />
        <activity android:name=".JavaBahcesi5.JavaBahcesiButton5_1" />
        <activity android:name=".JavaBahcesi4.JavaBahcesiButton4_4" />
        <activity android:name=".JavaBahcesi4.JavaBahcesiButton4_3" />
        <activity android:name=".JavaBahcesi4.JavaBahcesiButton4_2" />
        <activity android:name=".JavaBahcesi4.JavaBahcesiButton4_1" />
        <activity android:name=".JavaBahcesi3.JavaBahcesiButton3_3" />
        <activity android:name=".JavaBahcesi3.JavaBahcesiButton3_2" />
        <activity android:name=".JavaBahcesi3.JavaBahcesiButton3_1" />
        <activity android:name=".JavaBahcesi2.JavaBahcesiButton2_5" />
        <activity android:name=".JavaBahcesi2.JavaBahcesiButton2_4" />
        <activity android:name=".JavaBahcesi2.JavaBahcesiButton2_3" />
        <activity android:name=".JavaBahcesi2.JavaBahcesiButton2_2" />
        <activity android:name=".JavaBahcesi2.JavaBahcesiButton2_1" />
        <activity android:name=".JavaBahcesi1.JavaBahcesiButton1_7" />
        <activity android:name=".JavaBahcesi1.JavaBahcesiButton1_6" />
        <activity android:name=".JavaBahcesi1.JavaBahcesiButton1_5" />
        <activity android:name=".JavaBahcesi1.JavaBahcesiButton1_4" />
        <activity android:name=".JavaBahcesi1.JavaBahcesiButton1_3" />
        <activity android:name=".JavaBahcesi1.JavaBahcesiButton1_2" />
        <activity android:name=".JavaBahcesi1.JavaBahcesiButton1_1" />
        <activity android:name=".JavaBahcesiActivity" />
        <activity android:name=".OgrenimSecimActivity" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>